button {
	border:0px;
	cursor:pointer;
	font-size:0px;
	text-indent: -5000px;
	background-repeat: no-repeat;
	}
.second-button-link {
	line-height:16px;
	color:#c2c2c2;
	}
.button-help {
	background:url('../images/btn_help.png');
	width:67px;
	height:18px;
	}
.button-to-store {
	background:url('../images/btn_to_store.png');
	width:68px;
	height:17px;
	margin-top:8px;
	margin-right:45px;
	text-indent: -10000px;
	}
.button-save {
	background:url('../images/btn_save.png');
	width:67px;
	height:18px;
	}
.button-styles {
	background:url('../images/btn_styles.png');
	width:68px;
	height:19px;
	}
.button-styles-a {
	background:url('../images/btn_styles_a.png');
	width:68px;
	height:19px;
	}
.button-layout {
	background:url('../images/btn_layout.png');
	width:82px;
	height:19px;
	}
.button-layout-a {
	background:url('../images/btn_layout_a.png');
	width:82px;
	height:19px;
	}
.button-pages {
	background:url('../images/btn_pages.png');
	width:69px;
	height:19px;
	}
.button-pages-a {
	background:url('../images/btn_pages_a.png');
	width:69px;
	height:19px;
	}
.button-submit {
	background:url('../images/btn_submit.png');
	width:55px;
	height:15px;
	}
button.delete {
	background:url('../images/btn_delete.png');
	width:15px;
	height:15px;
	vertical-align:text-top;
	display:inline;
	}
.button-plus {
	background:url('../images/btn_plus.png');
	width:12px;
	height:12px;
	vertical-align:text-top;
	display:inline;
	margin-right:5px;
	}
.button-minus {
	background:url('../images/btn_minus.png');
	width:12px;
	height:12px;
	vertical-align:text-top;
	display:inline;
	margin-right:5px;
	}
button.big {
	width:13px;
	height:13px;
	float:left;
	margin-left:5px;
	margin-top:7px;
	vertical-align:text-top;
	display:inline;
	}
button.plus.big {
	background:url('../images/btn_plus_big.png');
	}
button.minus.big {
	background:url('../images/btn_minus_big.png');
	}
.button-pending {
	background:url('../images/btn_pending.png');
	width:60px;
	height:15px;
	vertical-align:text-top;
	display:inline;
	}
.button-first, .button-previous, .button-next, .button-last {
	width:17px;
	height:15px;
	vertical-align:text-top;
	display:inline;
	}
.button-first {
	background:url('../images/btn_first.png');
	}
.button-first.disable {
	background:url('../images/btn_first_disable.png');
	}
.button-previous {
	background:url('../images/btn_previous.png');
	}
.button-previous.disable {
	background:url('../images/btn_previous_disable.png');
	}
.button-next {
	background:url('../images/btn_next.png');
	}
.button-next.next {
	background:url('../images/btn_next_disable.png');
	}
.button-last {
	background:url('../images/btn_last.png');
	}
.button-last.next {
	background:url('../images/btn_last_disable.png');
	}
.button-confirm-shipping {
	background:url('../images/btn_confirm_shipping.png');
	width:118px;
	height:15px;
	}

.button-dash-pending {
	background:url('../images/btn_dash_pending.png');
	width:62px;
	height:15px;
	}
.button-all {
	background:url('../images/btn_all.png');
	width:47px;
	height:16px;
	}
.button-sold-out {
	background:url('../images/btn_sold_out.png');
	width:72px;
	height:16px;
	}
.button-running-low {
	background:url('../images/btn_running_low.png');
	width:93px;
	height:15px;
	}
.button-weekly {
	background:url('../images/btn_weekly.png');
	width:57px;
	height:15px;
	}
.button-daily {
	background:url('../images/btn_daily.png');
	width:47px;
	height:16px;
	}
.button-recent {
	background:url('../images/btn_recent.png');
	width:58px;
	height:15px;
	}
.button-top {
	background:url('../images/btn_top.png');
	width:40px;
	height:16px;
	}
.button-css {
	background:url('../images/btn_css.png');
	width:39px;
	height:15px;
	margin-top:2px;
	margin-left:4px;
	}
.button-simple-a {
	background:url('../images/btn_simple_a.png');
	width:56px;
	height:16px;
	margin-top:2px;
	}
.button-css-a {
	background:url('../images/btn_css_a.png');
	width:39px;
	height:16px;
	margin-top:2px;
	margin-left:4px;
	}
.button-simple {
	background:url('../images/btn_simple.png');
	width:56px;
	height:15px;
	margin-top:2px;
	}
.button-save-short {
	background:url('../images/btn_save_short.png');
	width:55px;
	height:15px;
	}
.button-add-category {
	background:url('../images/btn_add_category.png');
	width:100px;
	height:18px;
	vertical-align:text-top;
	display:inline;
	margin-top:5px;
	vertical-align:top;
	}
.button-add {
	background:url('../images/btn_add.png');
	width:42px;
	height:19px;
	display:inline;
	margin-top:5px;
	vertical-align:top;
	}
.button-add-new-image {
	background:url('../images/btn_add_new_image.png');
	width:104px;
	height:18px;
	}
.button-add-new-option {
	background:url('../images/btn_add_new_option.png');
	width:108px;
	height:18px;
	}
.button-save-default-options {
	background:url('../images/btn_save_default_options.png');
	width:15px;
	height:15px;
	vertical-align:text-top;
	display:inline;
	margin-top:2px;
	margin-left:5px;
	}
.button-reload {
	background:url('../images/btn_reload.png');
	width:15px;
	height:15px;
	vertical-align:text-top;
	display:inline;
	margin-top:2px;
	}