th.product-name,td.product-name,th.product-who,td.product-who {
	width: 372px;
}

th.product-price,td.product-price {
	width: 100px;
	text-align: right;
}

th.product-inventory,td.product-inventory {
	width: 207px;
	text-align: center;
}

th.product-status,td.product-status {
	width: 86px;
}

th.product-options,td.product-options {
	width: 489px;
	padding-left: 28px!important;
}

th.product-in-stock {
	width: 247px;
	padding-left: 40px;
}

td.product-in-stock .sc-loader {
	margin-top: 5px;
}

.quantity-edit-container {
	width: 250px;
	padding-left: 37px;
}

.quantity-edit-container.view {
	width: 287px;
	padding: 0;
}

.quantity-edit-container span.quantity {
	width: 30px;
	text-align: center;
	float: left;
}

.quantity-edit-container input.quantity {
	width: 20px;
	float: left;
	text-align: right;
	margin: 5px 5px 0 8px;
}

form div.product-info dd {
	width: 320px;
}

form div.product-info dd input[type=text],form div.product-info dd textarea {
	width: 318px;
}

form div.product-info dd textarea {
	height: 85px;
}

form div.product-info dd input[type=radio] {
	display: inline;
	vertical-align: middle;
	margin-left: 69px;
}

form div.product-info dd input[type=radio]:first-child {
	margin-left: 0;
}

.product-categories {
	padding: 0;
}

.product-categories dl {
	padding: 0!important;
}

.product-categories dl:first-child {
	border-top: medium none;
}

.product-categories dl:last-child {
	border-bottom: medium none;
}

.product-categories dd {
	width: 81px!important;
	text-align: right;
}

.product-categories dt input[type=text] {
	width: 170px!important;
}

.product-categories dd span.v-line {
	color: #e7e7e7;
}

.product-image-wrapper {
	width: 135px;
	height: 154px;
	border: 1px solid #aaa;
	background: none repeat scroll 0 0 #fff;
	margin-right: 16px;
	margin-top: 9px;
	float: left;
	padding: 4px;
}

.product-image-wrapper input {
	display: inline;
	vertical-align: text-top;
}

.product-shipping .grey-h2,.product-options .grey-h2 {
	padding-right: 5px;
}

.product-shipping dd {
	width: 183px!important;
}

dd.product-price dl,dd.product-shipping-price dl {
	border: 0 none;
	padding: 0!important;
}

dd.product-price dt,dd.product-price dd,dd.product-shipping-price dt,dd.product-shipping-price dd {
	line-height: 23px;
	padding: 0;
}

dd.product-price dd {
	width: 85px!important;
}

dd.product-price dd input {
	width: 83px;
}

dd.product-shipping-price select {
	height: 16px;
	border: 1px solid #aaa;
	width: 181px;
	margin-bottom: 5px;
}

dd.product-shipping-price dd {
	width: 66px!important;
}

dd.product-shipping-price dd input {
	width: 64px;
}

div.product-shipping dl.last {
	border-top: 1px solid #ccc;
	color: #464646;
}

.total-price {
	text-align: right;
	font-weight: bold;
}

div.product-options dd {
	width: 500px;
}

.product-options dt {
	padding:9px 0;
	line-height:15px;
	}
	
label.name-label {
	margin-left:10px;
	}
	
.product-options .delete {
	margin-top:4px;
	}

.product-option-name {
	width: 264px;
	margin-right: 27px;
}

.product-option-quantity {
	width: 33px;
	margin-left: 6px;
	margin-right: 8px;
}

form#productImage {
	height: 18px;
	position: absolute;
	text-align: center;
	width: 100%;
}

form#productImage input {
	opacity: 0;
}

.sortable dd {
	overflow: hidden;
}

.sortable dd a.edit,
.sortable dd span.v-line,
.sortable dd span.button-replace,
.sortable dd button.delete {
	float: left;
	margin-right: 5px;
	display: block;
}

.sortable dd button.delete {
	float:right;
}

.sortable .button-replace {
	cursor: move;
}

.product-categories .delete {
	margin: 0;
}

.sortable .sc-loader {
	float: right;
	margin-top: 8px;
}

.sortable dl button.button-save {
	vertical-align: middle;
	background: url(../images/btn_save_small.png) no-repeat scroll 0 0 transparent;
	width: 43px;
	height: 19px;
	margin-top: -4px;
}

.add-category-container dd {
	width: 45px!important;
}

.add-category-container input[type=checkbox] {
	visibility: hidden;
}

.quantity-edit-container a.edit,
.quantity-edit-container span.quantity,
.quantity-edit-container button.big,
.quantity-edit-container.view a.save,
.quantity-edit-container.view input.quantity,
.quantity-edit-container span.separator,
.sortable dl input[type=text],
.sortable dl button.button-add,
.sortable dl button.button-save,
.sortable dl.add-category-container label,
.sortable dl.add-category-container a.edit,
.sortable dl.add-category-container span.v-line {
	display: none;
}

.quantity-edit-container.view a.edit,
.quantity-edit-container.view span.quantity,
.quantity-edit-container.view span.separator,
.quantity-edit-container.view button.big,
.sortable dl.add-category-container input[type=text],
.sortable dl.add-category-container button.button-add,
.sortable dl.add-category-container button.button-save,
.sortable.product-options dl input[type=text]
 {
	display: inline;
}